part=xcku3p-ffvb676-2-e

[hls]
# K-Litho BRAM Version HLS Config
# Target: xcku3p FPGA without DDR memory
# BRAM storage solution: ~115KB total

clock=5ns
flow_target=vitis
syn.file=src/hls_litho_system_bram.cpp
syn.file=include/hls_litho_system_bram.h
syn.file=include/hls_types.h
syn.top=hls_litho_system_bram
tb.file=testbench/litho_system_bram_tb.cpp
csim.clean=0