part=xcku3p-ffvb676-2-e

[hls]
# Clock constraint updated to 200MHz (5ns) for calcImage timing
# calcImage verified: II=4 @ 200MHz (Fmax: 273MHz)
clock=5ns
flow_target=vitis
syn.file=E:/1.Project/4.FPGA/vitis/FPGA_Litho/FPGA-Litho/src/hls_fft_simple.cpp
syn.file=E:/1.Project/4.FPGA/vitis/FPGA_Litho/FPGA-Litho/include/hls_types.h
syn.file=E:/1.Project/4.FPGA/vitis/FPGA_Litho/FPGA-Litho/include/hls_fft_simple.h
syn.top=hls_top_simple
tb.file=E:/1.Project/4.FPGA/vitis/FPGA_Litho/FPGA-Litho/testbench/fft_tb_simple.cpp
tb.file=E:/1.Project/4.FPGA/vitis/FPGA_Litho/FPGA-Litho/data
package.output.format=xo
csim.clean=0


