part=xcku3p-ffvb676-2-e

[hls]
# Clock constraint: 5ns (200MHz) for integrated calcImage
# Verified: II=4, Fmax=273.97MHz
clock=5ns
flow_target=vitis
syn.file=E:/1.Project/4.FPGA/vitis/FPGA_Litho/FPGA-Litho/src/hls_calc_image_integrated.cpp
syn.file=E:/1.Project/4.FPGA/vitis/FPGA_Litho/FPGA-Litho/include/hls_calc_image_integrated.h
syn.file=E:/1.Project/4.FPGA/vitis/FPGA_Litho/FPGA-Litho/include/hls_types.h
syn.top=hls_calc_image_integrated
tb.file=E:/1.Project/4.FPGA/vitis/FPGA_Litho/FPGA-Litho/testbench/calc_image_integrated_tb.cpp
package.output.format=xo
csim.clean=0